html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2 {
  color: var(--accentColor);
}

.top-logo {
  height: auto;
  font-weight: bold;
  color: var(--secondaryColor);
  font-size: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Akaya Telivigala";
  background-color: #ffffff;
}

.material-icon.md-60 {
  font-size: 60px;
  color: var(--secondaryColor);
  position: relative;
  top: 0px;
}
/*sidebar code goes here*/
.sidebar-icon,
.sidebar-icon a {
  color: var(--secondaryColor);
  text-decoration: none;
}

.navbar {
  background-color: var(--dominantColor);
}

.nav-link {
  font-weight: bold;
  color: #ffffff !important;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.btn-search {
  background-color: var(--secondaryColor) !important;
  border: 0;
  border-color: var(--secondaryColor) !important;
  color: #ffffff !important;
}

.btn-search:hover {
  background-color: var(--accentColor) !important;
}

.footer-row {
  background-color: var(--dominantColor);
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-row a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-social-media,
.fa-social-media:hover {
  font-size: 25px !important;
  padding-left: 12px;
  padding-right: 12px;
}

/*pull quote*/
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote::before {
  display: block;
  padding-left: 10px;
  content: "\201c";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.spokesperson {
  background-color: var(--secondaryColor) !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.spokesperson img {
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.cropped-offcanvas {
  width: 200px;
  height: 200px;
  clip-path: circle(50% at 50% 50%);
}

.btn-offcanvas-left {
  width: 100%;
  background-color: var(--dominantColor) !important;
  border: 0 !important;
  padding: 8px;
  margin-top: 10px;
  color: #ffffff !important;
  font-weight: bold;
  text-decloration: none;
  text-transform: uppercase;
}

.btn-offcanvas-left:hover {
  background-color: var(--secondaryColor) !important;
  color: #ffffff;
}
